@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


:root{
	--text-color:#f5f5f5f5;
	--hover-color: #219150;
	--bg-color:#250821;
	--secon-bg-color:#292e33;
	--big-font:2.5rem;
	--norma-font:2rem;
	--neon-box-shadow:0 0 .5rem #219150;
	--h2-font:3rem;
	--font-neon-text-shadow: 0 0 10px rgba(18,247,255,0.3),
	0 0 20px rgba(18,247,255,0.3),
	0 0 30px rgba(18,247,255,0.3),
	0 0 40px rgba(18,247,255,0.3),
	0 0 70px rgba(18,247,255,0.3),
	0 0 80px rgba(18,247,255,0.3),
	0 0 100px rgba(18,247,255,0.3),
	0 0 150px rgba(18,247,255,0.3);
  
  }
  :root {
	--header-height: 3.5rem;
  
	/*========== Colors ==========*/
	/*Color mode HSL(hue, saturation, lightness)*/
	--first-color: #27ae60;
	--title-color: hsl(230, 70%, 16%);
	--text-color: #292e33;
	--border-color: hsl(230, 50%, 90%);
	--white-color: hsl(0, 0%, 100%);
	--body-color: hsl(230, 100%, 96%);
	--container-color: hsl(230, 100%, 97%);
  
	/*========== Font and typography ==========*/
	/*.5rem = 8px | 1rem = 16px ...*/
	--body-font: "Montserrat";
	--biggest-font-size: 2rem;
	--h1-font-size: 1.5rem;
	--h2-font-size: 1.25rem;
	--h3-font-size: 1rem;
	--normal-font-size: .938rem;
	--small-font-size: .813rem;
	--smaller-font-size: .75rem;
  
	/*========== Font weight ==========*/
	--font-regular: 400;
	--font-medium: 500;
	--font-semi-bold: 600;
  
	/*========== z index ==========*/
	--z-tooltip: 10;
	--z-fixed: 100;
  }
  
  /*========== Responsive typography ==========*/
  @media screen and (min-width: 1150px) {
	:root {
	  --biggest-font-size: 3.5rem;
	  --h1-font-size: 2.25rem;
	  --h2-font-size: 1.5rem;
	  --h3-font-size: 1.25rem;
	  --normal-font-size: 1rem;
	  --small-font-size: .875rem;
	  --smaller-font-size: .813rem;
	}
  }
  
  

*{
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}
body{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.about-sec{
	display: flex;
	padding: 3rem 0;
	width: 100%;
	justify-content: center;
}
.about-img{
	width: 300px;
	height: 300px;
	margin: 0 3rem;
}
.about-img img{
	height: 100%;
	width: 100%;
}
.about-intro{
	color: #000;
	width: 400px;
	height: 250px;
	border-left: 3px solid #00b894;
	padding-left: 2rem;
	margin: 0 3rem;
}
.about-intro p{
	margin-top: 1.5rem;
	font-size: 14px;
	opacity: .7;
}
.socail-icon{
	margin-top: 2rem;
	display: flex;
	justify-content: space-between;
	width: 220px;
	height: 40px;
  }
  
  .socail-icon a{
	display: inline-flex;
	width: 70px;
	width: 100%;
	justify-content: center;
	align-items: center;
	background: #3586ff;
	color: #12f7ff;
	border: 2px solid #12f7ff;
	transition: .6s;
	box-shadow: 0 0 10px rgba(18,247,255,0.3),
	0 0 20px rgba(18,247,255,0.3),
	0 0 30px rgba(18,247,255,0.3),
	0 0 40px rgba(18,247,255,0.3),
	0 0 70px rgba(18,247,255,0.3),
	0 0 80px rgba(18,247,255,0.3),
	0 0 100px rgba(18,247,255,0.3),
	0 0 150px rgba(18,247,255,0.3);
	border-radius: 20px;
	position: relative;
	z-index: 1;
	overflow: hidden;
  }
  
  .socail-icon a i{
	font-size: 1.5rem;
  }
  
  .socail-icon a:hover{
	color: #3586ff;
	transform: translateY(-50%);
  }
  .socail-icon a::before{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 100%;
	background: #12f7ff;
	transition: .6s;
	z-index: -1;
  }
  .fb:hover{
	color: #3b5998;
  }
  .link:hover{
	color: #0077b5;
  }
  .you:hover {
	color: #ff0000; 
  }
  .tel:hover {
	color: #0088cc;
  }
  .socail-icon a:hover::before{
	width: 100%;
  }
@media only screen and (max-width: 810px) {
	.about-sec{
		flex-direction: column;
		align-items: center;
	}
	.about-img{
		width: 300px;
	}
	.about-intro{
		width: 100%;
		height: 100%;
		border-top: 3px solid #00b894;
		border-left: none;
		padding: 1rem;
		margin-top: 2rem;
	}
	.about-intro h3,p{
		width: 80%;
	}
	.about-intro p{
		font-size: 12px;
	}

}


.container-text .text-found{
	position: relative;
	color: black;
	font-size: 22px;
	font-weight: 600;
  }
  .container-text .text-found.first-text{
	color: #f5f5f5;
  }
  .text-found.sec-text:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #fff;
	border-left: 2px solid black;
	animation: animate 4s steps(12) infinite;
  }
  @keyframes animate{
	40%, 60%{
		left: calc(100% + 4px);
	}
	100%{
		left: 0%;
	}
  }

.header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color:  #f5f5f5a1;
	z-index: var(--z-fixed);
	transition: box-shadow .4s background-color .4s;
	box-shadow:  0 -8px 32px hsla(0, 0%, 0%, 0.822);
  }
  
  .nav{
	height: var(--header-height);
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  .nav-menu{
	display: none;
  }
  .nav-logo{
	display: inline-flex;
	align-items: center;
	column-gap: .5rem;
	color: var(--first-color);
	font-weight: var(--font-medium);
	margin: 8px;
  }
  .nav-logo, i{
	font-size: 1.75rem;
  }
  
  .nav-logo i{
	font-size: 2rem;
  }
  
  li{
	list-style: none;
  }
  .change-text{
	font-size: 1.5rem;
	font-weight: 600;
  }
  
  .change-text h3{
	display: inline-flex;
	margin: 0;
	vertical-align: top;
  }
  
  .change-text h3 .word{
	position: absolute;
	display: flex;
	opacity: 0;
  }
  
  .change-text h3 .word .letter{
	transform-origin: center center 25px;
  }
  
  .change-text h3 .word .letter.out{
	transform: rotateX(90deg);
	transition: 0.50s cubic-bezier(0.6,0,0.7,02);
  }
  .change-text h3 .word .letter.in{
	transition: 0.50s ease;
  }
  
  .change-text h3 .word .letter.behind{
	transform: rotateX(-90deg);
  }

  .nav-link i{
	display: none;
  }

  
footer .social_icon,
footer .menu{
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 10px 0;
   flex-wrap: wrap;
}
footer .social_icon li, footer .menu li{
   list-style: none;
}

footer .social_icon li a{
   font-size: 1.25rem;
   color: #fff;
   margin: 0 10px;
   display: inline-block;
   transition: 0.5s;
}
footer .social_icon li a:hover{
   transform: translateY(-10px);
}
footer .menu li a{
   font-size: 1.2em;
   color: #fff;
   margin: 0 10px;
   display: inline-block;
   transition: 0.5s;
   text-decoration: none;
   opacity: 0.75;
}

footer .menu li a:hover{
   opacity: 1;
}
.login-button{
	font-size: 25px;
	color: #000;
	margin: 8px;
	transition: 0.70s ease-in-out;
}
.login-button:hover{
	color: #27ae60;
}
  /* Navigation for mobile devices */
  @media screen and (max-width: 680px){
	footer .menu li a{
		display: none;
	}

  }
  @media screen and (max-width:370px){
	.nav-logo{
	  font-size: 1rem;
	}
	.nav-logo i{
	  font-size: 2rem;
	  
	}
  }


@media screen and (max-width: 810px){
	.nav-menu{
	position: fixed;
	bottom: 0;
	  left: 0;
	  right: 0;
	  width: 100%;
	  background-color: #fff;
	  box-shadow:  0 -8px 32px hsla(0, 0%, 0%, 0.651);
	  padding: 1.25rem 4rem;
	  transition: background-color .4s;
	}
	.about-img{
		margin-top: 180px;
	}
	
	.nav-link i{
		display: block;
	}
	.nav-menu{
		display: block;
	}
  
	.bottom-navbar{
	  display: block;
  }
  .menu-icon{
	display: none;
  }
  .nav-logo{
	font-size: 1rem;
  }
  .nav-logo i{
	font-size: 2rem;
  }
  
	footer p{
	  margin-bottom: 200px;
   }
   .nav-link span{
	display: none;
  } 
  }
  
  .nav-list{
	display: flex;
	justify-content: space-between;
  }
  
  .nav-link{
	color: var(--text-color);
	transition: color .4s;
  }
  
  .nav--link span{
	display: none;
  }
  .nav-link i{
	font-size: 1.25rem;
  }
  
  .nav-link:hover{
	color: var(--first-color);
  }
  
  .featured-card {
	transition: opacity 1s ease;
  }
  
  .login-btn:hover{
	color: #27ae60;
}



