@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body{
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 100vh;
    font-family: "Montserrat";
}

.main{
    width: 450px;
    height: 500px;
    background: #464646;
    overflow: hidden;
    border-radius: 10px 40px;
    box-shadow: 5px 20px 50px #000;
    justify-content: center;
    align-items: center;
}

#chk{
    display: none;
}
.signup{
    position: relative;
    width: 450px;
    height: 100%;
}
label{
    color: #fff;
    font-size: 2.3em;
    justify-content: center;
    display: flex;
    margin: 60px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
}

input{
    width: 60%;
    height: 20%;
    background: #fff;
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
}

button{
    width: 64%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: #464646;
    background: #fff;
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 10px;
    transition: .2s ease-in;
    cursor: pointer;
}
button:hover{
    background: #464646;
    color: #fff;
}
.login{
    width: 450px;
    height: 460px;
    background:#464646;
    border-radius: 60% / 10%;
    transform: translateY(-180px);
    transition: .8s ease-in-out;
}
.login label{
    color:#fff;
    transform: scale(.6);
}
#chk:checked ~ .login{
    transform: translateY(-500px);
}
#chk:checked ~ .login label{
    transform: scale(1);
}
#chk:checked ~ .signup label{
    transform: scale(.6);
}



/* From Uiverse.io by Yaya12085 */ 
.button {
    max-width: 350px;
    display: flex;
    padding: 0.5rem 1.4rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    gap: 0.75rem;
    color: rgb(65, 63, 63);
    background-color: #fff;
    cursor: pointer;
    transition: all .6s ease;
}

.button svg {
    height: 24px;
}

.button:hover {
    transform: scale(1.02);
}



